.container-fluid {
  padding-right: 0;
  padding-left: 0; }
  .container-fluid section {
    margin: 20px; }
  .container-fluid .nav-pills .nav-link {
    border-radius: 0; }
  .container-fluid .form-control {
    border-radius: 0; }
  .container-fluid .btn {
    border-radius: 0; }
  .container-fluid .progress {
    height: 24px; }
  .container-fluid #myTab a {
    font-size: 1.25rem; }
  .container-fluid #myTabContent {
    padding: 25px; }

.tabListDataContainer table th.selection {
  width: 6rem;
  text-align: center; }

@media (min-width: 576px) {
  .text-right {
    text-align: left; } }

@media (max-width: 575.99px) {
  #myTab {
    flex-direction: column !important; } }

@media (max-width: 767.99px) {
  #myTab {
    flex-direction: column !important; } }

@media (max-width: 991.99px) {
  #myTab {
    flex-direction: column !important; } }

@media (max-width: 1199.99px) {
  #myTab {
    flex-direction: column !important; } }

.navbar {
  background-color: #005aab !important; }
  .navbar .navbar-brand {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    height: 75px;
    width: 120px;
    margin: 10px 0; }

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666; }

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  /*left: 0;*/
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff; }

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #45BA84;
  position: absolute;
  top: 4px;
  left: 32px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

[data-previous="disabled"] {
  background: #00ce89; }

.form-check {
  padding-left: 0; }
